:javascript
  $(document).ready(function () {
    var addresses = $(".addresses");
    var pres = addresses.find("pre").clone();
    $("#filter").keyup(function() {
        var regex = new RegExp($(this).val(), 'i');
        addresses.find("pre").remove();
        addresses.append(pres.filter(function(i, pre) {
            return regex.test(pre.innerHTML);
        }));
      });
  });

.row
  .span2.search_box
    %input(type="text" placeholder="Search..." id="filter")

.addresses
  %pre
    Inter Group of Andhra Pradesh
    C/o, Fire Station,
    S. KOTA - 535 145
    A.P.
    099490 93029

  %pre
    Inter Group of Golden (A.P.)
    C/o, Sri Rama Photo Studios Upstairs,
    Near Durga Maha, Sriram Nagar,
    Garividi, P.O. Vazianagaram,
    VIZIANAGARAM - 535 101
    A.P.
    092475 77744

  %pre
    Inter Group of Delhi
    First Floor, B 53 Masigarh
    (near Masigarh Church, Sukhdev Vihar)
    Delhi
    aadelhi5@gmail.com

  %pre
    Inter Group of Golden Foot Work Delhi - 1
    St. Thomas Baptist Church,
    Khyber pass,
    Civil Lines,
    NEW DELHI - 110 054
    092138 73683, 011 - 22303962

  %pre
    Inter Group of Goa
    Hira Niketan Housing Cooperative Society,
    1st Floor, Office No. 16,
    Opp. Monginis, Comba
    MARGAO - 403 601
    Goa
    0832 - 6570221

  %pre
    Inter Group of North Goa
    c/o, Bosco Amara Rebello, Mamaikamat
    Nr Old Secretariat
    PUNJIM - 403 001
    Goa
    0832 - 224140

  %pre
    Inter Group of South Gujarat
    Amit Clinic, Pani Ni Bhit,
    Soni Falia,
    SURAT - 395 003.
    Gujarat
    094280 60020

  %pre
    Inter Group of Chandigarh
    Karuna Sadan Building
    Basement No. 5
    Sector - 11
    CHANDIGARH - 160 011
    094170 37358

  %pre
    Inter Group of Bangalore - North
    C/o, R. Nicholas
    No. 787, 5th Main, 2nd Block, HRBR Layout,
    Thomas Town Post
    BANGALORE - 560 084
    Karnataka
    098458 18650

  %pre
    Inter Group of Bangalore - South
    C/o, Shaji Varghese
    310, Ind-Win Ecstasy Apartments
    Garvepa;lya Rd, Bomanhalli Post
    BANGALORE - 560 068
    Karnataka
    097401 52115

  %pre
    Inter Group of Malnad Region
    P.O. No. 35, Balehonnur,
    Chikmanglur Dist.,
    BALEHONNUR - 577 112
    Karnataka
    094487 44968

  %pre
    Inter Group of Mangalore
    Y. M. C. A.,
    Falnir,
    MANGALORE - 575 001
    Karnataka
    098450 13047
    0824 - 211119
    aaintergroupmangalore@rediffmail.com

  %pre
    Service Center Manipal
    C/o, Janardan S,
    Padmashree Nivasa, Near Canara Milk Dairy,
    Esharwa Nagar,
    MANIPAL - 576 104
    Karnataka
    098441 66712

  %pre
    Inter Group of Mysore
    C/o, Murali Srinivasan.
    No. 34, 8th Main, Swimming Pool Road,
    Saraswatipuram,
    MYSORE - 570 009
    Karnataka
    098440 40504

  %pre
    Regional office of AA Bangalore
    BM Dispensary, 1st Lane
    No 43, Near Kodva Samaja
    Vasant Nagar
    BANGALORE - 560 052
    Karnataka
    080-2234 0444, 097313 12520

  %pre
    Inter Group of Udupi
    Post Box No. 72,
    UDUPI -576 101
    Karnataka

  %pre
    Inter Group of Central Trivandrum
    Sree Ramakrishna Hospitals,
    Sasthamangalam P.O.,
    THIRUVANANTHAPURAM - 695010
    Kerala
    094965 45345

  %pre
    Inter Group of Earnakulum
    C/o, Sahrudayan K K
    Kannankeril House
    Nadakkave PO
    Near SMDPHSS
    ERNAKULAM - 682307,Kerala
    09745601584, 09946072288

  %pre
    Inter Group of Kannur
    c/o, Krishnamurthi K.S.
    Sarasjam, Moopanpara
    Valapattanam P.O.
    Kannur - 670 010
    Kerala
    094479 64599

  %pre
    Inter Group of Kerala
    P.O. Box No. 575,
    P.O. Challapuram,
    CALICUT - 673 002
    Kerala
    aakerala@yahoo.co.in

  %pre
    Inter Group of Kollam
    C/o, Darwin James
    Kattuvinna Veedu
    Mangad P.O.
    Kollam - 15
    Kerala
    098462 94673

  %pre
    Inter Group of Kottayam
    P. O. Box No. 107,
    KOTTAYAM - 686 631
    Kerala
    094470 98765

  %pre
    Inter Group of Kozhikode - North
    P.B. No. 5,
    KOYILANDY - 673 305
    Kerala

  %pre
    Inter Group of Kozhikode
    Room No. F-5,
    Corporation Central Market,
    Court Road,
    KOZIKODE - 673 001
    Kerala
    0495 - 276040, 099950 36626, 93872 71545

  %pre
    Inter Group of Thodupuzha
    C/o Joy Hilltop,
    P.O. Muthalakodom,
    Thodupuzha
    IDIKKI - 685 584
    Kerala
    04862 - 225594
    9446053636
    aathodupuzhaig@gmail.com

  %pre
    Inter Group of Trivandram - 1
    Post box No 1224
    Perurkada
    TRIVANDRAM - 695 015
    Kerala

  %pre
    Inter Group of Trivandram
    c/o, Hari Lal
    Pournami TC - 215/31
    VRA-140, Near ITI, Chackai
    TRIVANDRAM - 695 024
    Kerala
    0471 - 2507195
    aathiruvananthapuram@yahoo.co.in

  %pre
    Inter Group of Waynad
    Post Box No. 45,
    Kalpetta,
    Wayanad,
    KALPETTA - 673 121
    Kerala
    0493 - 540017

  %pre
    Inter Group of Central Mumbai
    Our Lady of Dolores Church,
    Nathalal Parekh Road,
    Wadala (W),
    MUMBAI - 400 031
    Maharashtra
    022-4122203

  %pre
    Inter Group of Chandrapur - Rural
    C/o, Suresh
    Maharashtra

  %pre
    Inter Group of Chandrapur - Urban
    C/o Deepak Thakre,
    Laxmi Towers,
    Civil Lines,
    CHANDRAPUR - 442 401
    Maharashtra
    098231 83991

  %pre
    Inter Group of Chembur
    Municipal Marathi School,
    Near Chembur Rly. Station,
    P.L. Lokhande Marg,
    Chembur (W), Mumbai - 400089.
    6.00 to 9.00 p.m.
    Phone:9833365606

  %pre
    Inter Group of East Mumbai
    c/o,Rajesh Sagvekar
    27, Savitri Sadan
    Sarvodaya Nagar, Bhandup West
    MUMBAI - 400 078
    Maharashtra
    090290 12631

  %pre
    Inter Group of Kalyan
    C/o Bai Rukminibai Hospital,
    Kalyan Dombivli Mahanagarpalika, O.P.D. No. 9,
    Behind Fire Brigade,
    KALYAN (W)
    Maharashtra
    093234 85476

  %pre
    Inter Group of Kolhapur
    C/o, Satish Gaikawad
    185,T.P.Scheme-2,'ANISH' Apartments,
    Hari Mandir Road, Dudhali,
    KOLHAPUR - 416 012
    Maharashtra
    0231 - 2541449.
    9970166485

  %pre
    Inter Group of Nagpur - II
    C/o, Madan Pillay
    A/1, 504, Samruddhi Sankul,
    Mhada Complex, Civil Lines,
    NAGPUR - 440 001
    Maharashtra
    0712-2548948

  %pre
    Inter Group of Nagpur
    C/o, Naresh Gondole
    1111, Buddha Vihar Road,
    Dhobipura, Sadar,
    NAGPUR - 440 001
    Maharashtra
    097632 53920

  %pre
    Inter Group of North West Mumbai
    Social Welfare Center,
    Western Railway Colony.,
    Kasturba Road, Kandivli West
    MUMBAI - 400 067
    Maharashtra
    093237 81312

  %pre
    Inter Group of Pune
    R.No.5, Pune Municipal Corporations,
    A' Ward, Opp. Premises Nehru Stadium,
    990, Shukarwar Peth, Tilak Road,
    PUNE - 411002
    Maharashtra
    020 - 24468087
    aagrouppune@usa.net

  %pre
    Inter Group of Raigad
    C/o, Mohan Shankar Nalavade
    Sat Guru Co op Hsg Scty
    Plot no 13, Sector 7, Khanda Colonoy
    New Panvel, Raigad - 410 206
    Maharashtra
    098926 42123

  %pre
    Inter Group of South Mumbai
    Mumbai, Maharashtra
    022-2384 2384
    Inter Group of Thane
    Post Box No. 188,
    THANE (W) - 400 601
    Maharashtra
    098212 34577

  %pre
    Inter Group of Vasai
    St. Michael Church, Vasai Navghar,
    Vasai (W),
    THANE DIST. - 401 202
    Maharashtra
    093264 77682 Post Bag No. 36

  %pre
    Inter Group of West Mumbai
    M. K. K. Bhavan, Gundavli,
    Azad Road,
    Andheri (E),
    MUMBAI - 400 069
    Maharashtra
    022-2684 4400

  %pre
    Inter Group of Punjab
    C/o H. S. Sidhu,
    76 Guru Nagar, Mithapur Road,
    P.O. Model Town,
    JALLANDHAR - 144 003
    Punjab
    0181 - 276968

  %pre
    Inter Group of Chennai - North
    St. Sebasatin Church,
    Madhavashram High Road,
    Madhavashram, Post Box. 15,
    CHENNAI
    Tamil Nadu
    093827 16788

  %pre
    Inter Group of Chennai - South
    46, Second Street,
    Kubera Nagar Extension, Madipakkam
    CHENNAI - 600 091
    Tamil Nadu
    93811 24233, 93813 24333

  %pre
    Inter Group of Chennai
    Community Service Center,
    17, Balfour Road, Kilpauk,
    CHENNAI - 600 010
    Tamil Nadu
    044 - 6441941

  %pre
    Inter Group of Madurai
    Post Box No. 68
    G.P.O.
    MADURAI - 625 020
    Tamil Nadu
    093441 29391

  %pre
    Inter Group of Rockcity Trichy
    No. A,40, Anna Nagar,
    Thennur,
    TRICHY - 620 017
    Tamil Nadu
    tpj_aa_ig@yahoo.co.in

  %pre
    Inter Group of Salem
    P. O. Box No. 101
    SALEM - 636 016
    Tamil Nadu
    94432 90576, 94435 75267, 99444 35128
    salemintergroup@yahoo.co.in

  %pre
    Inter Group of Salem Central
    P. O. Box No. 100,
    SALEM - 636 001
    Tamil Nadu

  %pre
    Inter Group of Tirunelveli
    Govt. High School,
    Opp. Ratna Theater,
    S.N. High Road,
    TIRUNELVELI
    Tamil Nadu
    0462 - 2578967

  %pre
    Inter Group of Trichy
    Amalashram,
    Amma Mandapam Road,
    Shreerangam,
    TRICHY - 621 006
    Tamil Nadu
    094434 98436, 94422 89344
    uyirpputrichy.aa@gmail.com

  %pre
    Inter Group of Kharagpur
    c/o, Umashankar Chowdhary
    GayKata, Jhrpataplr
    Paschin Medidpur,
    KHARAGPUR - 721 301
    W. Bengal
    0923273 18773
    aaigkgp@rediffmail.com

  %pre
    Service Center, Kolkatta
    10 - A, Nandan Road,
    Bhavanipur
    KOLKATTA - 700 025
    W. Bengal
    033 - 2419 1174
    aakolkata_ig03@rediffmail.com
