.row-fluid
  .span8
    %h2 Frequently Asked Questions
    %p
      This article is intended for people approaching Alcoholics Anonymous (A.A.) for the first time. In it we have tried to answer the questions most frequently in the minds of newcomers-the questions which were in our minds when we first approached the Fellowship.

    %b Am I an Alcoholic?
    %p If you repeatedly drink more than you intend or want to, if you get into trouble, or if you have memory lapses when you drink, you may be an alcoholic.Only you can decide. No one in A.A. will tell you whether you are or not.

    %br
    %b What can i do if i am worried about my drinking?
    %p Seek help. Alcoholics Anonymous can help.

    %br
    %b What is alcoholics anonymous?
    %p We are a Fellowship of men and women who have lost the ability to control our drinking and have found ourselves in various kinds of trouble as a result of drinking. We attempt-most of us successfully-to create a satisfying way of life without alcohol. For this we find we need the help and support of other alcoholics in A.A.

    %br
    %b If i go to an A.A. meeting, does that commit me to anything?
    %p No. A.A. does not keep membership files, or attendance records. You do not have to reveal anything about yourself. No one will bother you if you don't want to come back.

    %br
    %b What happens if i meet people i know?
    %p They will be there for the same reason you are there. They will not disclose your identity to outsiders. At A.A. you retain as much anonymity as you wish. That is one of the reasons we call ourselves Alcoholics Anonymous.

    %br
    %b What happens at an a.a. meeting?
    %p An A.A. meeting may take one of several forms, but at any meeting you will find alcoholics talking about what drinking did to their lives and personalities, what actions they took to help themselves, and how they are living their lives today.

    %br
    %b How can this help me with my drinking problem?
    %p We in A.A. know what it is like to be addicted to alcohol, and to be unable to keep promises made to others and ourselves that we will stop drinking. We are not professional therapists. Qualification for helping others to recover from alcoholism is that we have stopped drinking ourselves, but problem drinkers coming to us know that recovery is possible because they see people who have done it.

    %br
    %b Why do A.A members keep on going to meetings after they are cured?
    %p We in A.A. believe there is no such thing as a cure for alcoholism. We can never return to normal drinking, and our ability to stay away from alcohol depends on maintaining our physical,mental, and spiritual health. This we can achieve by going to meetings regularly and putting into practice what we learn there. In addition, we find it helps us to stay sober if we help other alcoholics.

    %br
    %b How do i join  A.A.?
    %p You are an A.A. member if and when you say so. The only requirement for A.A. membership is a desire to stop drinking, and many of us were not very wholehearted about that when we first approached A.A.
  = render :partial => 'shared/text_logo'