.row
  .span12
    .hero-unit
      .span4.well.logo_text(style="text-align:center")
        %span(style='color:red;font-size:200px;line-height:300px') A
        %span(style='color:green;font-size:200px') A
      .span7
        %div(style="text-align:center;valign:middle")
          %h2 Alcoholics Anonymous
          %p.sub_title Helping Alcoholics Recover
          %p.small_p
            I am responsible...
            %br
            When anyone, anywhere
            %br
            reaches out for help,
            %br
            I want the hand of A.A.
            %br
            always to be there...
            %br
            And for that
            %br
            I am responsible
      .clearfix

.row
  .span12
    %p
      Alcoholics Anonymous is an international fellowship of men and women who once had a drinking problem. It is nonprofessional, self-supporting, nondenominational, apolitical, and available almost everywhere. There are no age or educational requirements. Membership is open to anyone who wants to do something about his or her drinking problem.

    %br
    %h4 What we do?

    %ol
      %li
        A.A. members share their experience with anyone seeking help with a drinking problem; they give person-to-person service or "sponsorship" to the alcoholic coming to A.A. from any source.
      %br
      %li
        The A.A. programme, set forth in our Twelve Steps, offers the alcoholic a way to develop a satisfying life without alcohol.
      %br
      %li
        This programme is discussed at A.A. group meetings.
        %br
        %ul
          %li
            Open speaker meetings-open to alcoholics and non alcoholics. (Attendance at an open A.A. meeting is the best way to learn what A.A. is, what it does, and what it does not do.) At speaker meetings, A.A. members "tell their stories." They describe their experiences with alcohol, how they came to A.A., and how their lives have changed as a result of A.A.
          %br
          %li
            Open discussion meetings-one member speaks briefly about his or her drinking experience, and then leads a discussion on A.A. recovery or any drinking-related problem anyone brings up.(Closed meetings are for A.A.s or anyone who may have a drinking problem.)
          %br
          %li
            Closed discussion meetings-conducted just as open discussions are, but for alcoholics or prospective A.A.s only.
          %br
          %li
            Step meetings (usually closed)-discussion of one of the Twelve Steps.
          %br
          %li
            A.A. members also take meetings into correctional and treatment facilities.
          %br
          %li
            A.A. members may be asked to conduct the informational meetings about A.A. as a part of A.S.A.P. (Alcohol Safety Action Project) and D.W.I. (Driving While Intoxicated) programme. These meetings about A.A. are not regular A.A. group meetings.

    %br
    %h4 What we do not do?
    %ol
      %li Furnish initial motivation for alcoholics to recover
      %br
      %li Solicit members
      %br
      %li Engage in or sponsor research
      %br
      %li Keep attendance records or case histories
      %br
      %li Join "councils" of social agencies
      %br
      %li Follow up or try to control its members
      %br
      %li Make medical or psychological diagnoses or prognoses
      %br
      %li Provide drying-out or nursing services, hospitalization, drugs, or any medical or psychiatric treatment
      %br
      %li Offer religious services
      %br
      %li Engage in education about alcohol
      %br
      %li Provide housing, food, clothing, jobs, money, or any other welfare or social services
      %br
      %li Provide domestic or vocational counselling
      %br
      %li Accept any money for its services, or any contributions from non-A.A. sources
      %br
      %li Provide letters of reference to parole boards, lawyers, court officials, social agencies, employers, etc.

    %br
    %h4 12 Steps of A.A.
    %p
      The relative success of the A.A. programme seems to be due to the fact that an alcoholic who no longer drinks has an exceptional faculty for "reaching" and helping an uncontrolled drinker.

    %p
      In simplest form, the A.A. programme operates when a recovered alcoholic passes along the story of his or her own problem drinking, describes the sobriety he or she has found in A.A., and invites the newcomer to join the informal Fellowship.

    %p
      The heart of the suggested programme of personal recovery is contained in Twelve Steps describing the experience of the earliest members of the Society:

    %ol
      %li We admitted we were powerless over alcohol - that our lives had become unmanageable.
      %br
      %li Came to believe that a Power greater than ourselves could restore us to sanity.
      %br
      %li Made a decision to turn our will and our lives over to the care of God as we understood Him.
      %br
      %li Made a searching and fearless moral inventory of ourselves.
      %br
      %li Admitted to God, to ourselves and to another human being the exact nature of our wrongs.
      %br
      %li Were entirely ready to have God remove all these defects of character.
      %br
      %li Humbly asked Him to remove our shortcomings.
      %br
      %li Made a list of all persons we had harmed, and became willing to make amends to them all.
      %br
      %li Made direct amends to such people wherever possible, except when to do so would injure them or others.
      %br
      %li Continued to take personal inventory and when we were wrong promptly admitted it.
      %br
      %li Sought through prayer and meditation to improve our conscious contact with God as we understood Him, praying only for knowledge of His will for us and the power to carry that out.
      %br
      %li Having had a spiritual awakening as the result of these steps, we tried to carry this message to alcoholics and to practice these principles in all our affairs.

    %p
      Newcomers are not asked to accept or follow these Twelve Steps in their entirety if they feel unwilling or unable to do so.

    %p
      They will usually be asked to keep an open mind, to attend meetings at which recovered alcoholics describe their personal experiences in achieving sobriety, and to read A.A. literature describing and interpreting the A.A. programme.

    %br
    %h4 12 Traditions of A.A.
    %p
      During its first decade, A.A. as a fellowship accumulated substantial experience which indicated that certain group attitudes and principles were particularly valuable in assuring survival of the informal structure of the Fellowship. In 1946, in the Fellowship's international journal, the A.A. Grapevine, these principles were reduced to writing by the founders and early members as the Twelve Traditions of Alcoholics Anonymous. They were accepted and endorsed by the membership as a whole at the International Convention of A.A., at Cleveland, Ohio, in 1950.

    %ol
      %li Our common welfare should come first; personal recovery depends upon A.A. unity.
      %br
      %li For our group purpose there is but one ultimate authority - a loving God as He may express Himself in our group conscience. Our leaders are but trusted servants; they do not govern.
      %br
      %li The only requirement for A.A. membership is a desire to stop drinking.
      %br
      %li Each group should be autonomous except in matters affecting other groups or A.A. as a whole.
      %br
      %li Each group has but one primary purpose-to carry its message to the alcoholic who still suffers.
      %br
      %li An A.A. group ought never endorse, finance or lend the A.A. name to any related facility or outside enterprise, lest problems of money, property and prestige divert us from our primary purpose.
      %br
      %li Every A.A. group ought to be fully self-supporting, declining outside contributions.
      %br
      %li Alcoholics Anonymous should remain forever nonprofessional, but our service centers may employ special workers.
      %br
      %li A.A., as such, ought never be organized; but we may create service boards or committees directly responsible to those they serve.
      %br
      %li Alcoholics Anonymous has no opinion on outside issues; hence the A.A. name ought never be drawn into public controversy.
      %br
      %li Our public relations policy is based on attraction rather than promotion; we need always maintain personal anonymity at the level of press, radio,T.V.and films.
      %br
      %li Anonymity is the spiritual foundation of all our traditions, ever reminding us to place principles before personalities.

    %p
      While the Twelve Traditions are not specifically binding on any group or groups, an overwhelming majority of members have adopted them as the basis for A.A.'s expanding "internal" and public relationships.