.row
  .span12
    .hero-unit
      = render :partial => 'shared/text_logo'
      %br
      %br
      %br
      %div(style="text-align:center;valign:middle")
        %h2 Alcoholics Anonymous
        %p Helping Alcoholics Recover
      .clearfix