.row-fluid
  .span8
    %p
      %h2 Is Alcoholics Anonymous for You?

      %h3 12 Questions only you can answer:
      Only you can decide whether you want to give A.A. a try-whether you think it can help you.
      We who are in A.A. came because we finally gave up trying to control our drinking. We still hated to admit that we could never drink safely. Then we heard from other A.A. members that we were sick. (We thought so for years!) We found out that many people suffered from the same feelings of guilt and loneliness and hopelessness that we did. We found out that we had these feelings because we had the disease of alcoholism. We decided to try and face up to what alcohol had done to us. Here are some of the questions we tried to answer honestly. If we answered YES to four or more questions, we were in deep trouble with our drinking. See how you do. Remember, there is no disgrace in facing up to the fact that you have a problem.

    %p
      Answer YES or NO to the following questions.

    %p
      %ol
        %li
          %b Have you ever decided to stop drinking for a week or so, but only lasted for a couple of days?
          %br
          Most of us in A.A. made all kinds of promises to ourselves and to our families. We could not keep them.
          Then we came to A.A. A.A. said: "Just try not to drink today."
          (If you do not drink today, you cannot get drunk today.)
          %br
          %b Yes / No

        %br

        %li
          %b Do you wish people would mind their own business about your drinking-- stop telling you what to do?
          %br
          In A.A. we do not tell anyone to do anything. We just talk about our own drinking, the trouble we got into, and how we stopped. We will be glad to help you, if you want us to.
          %br
          %b Yes / No

        %br

        %li
          %b Have you ever switched from one kind of drink to another in the hope that this would keep you from getting drunk?
          %br
          We tried all kinds of ways. We made our drinks weak. Or just drank beer. Or we did not drink cocktails. Or only drank on weekends. You name it, we tried it. But if we drank anything with alcohol in it, we usually got drunk eventually.
          %br
          %b Yes / No

        %br

        %li
          %b Have you had to have an eye-opener upon awakening during the past year?
          %br
          Do you need a drink to get started, or to stop shaking? This is a pretty sure sign that you are not drinking "socially."
          %br
          %b Yes / No

        %br

        %li
          %b Do you envy people who can drink without getting into trouble?
          %br
          At one time or another, most of us have wondered why we were not like most people, who really can take it or leave it.
          %br
          %b Yes / No

        %br

        %li
          %b Have you had problems connected with drinking during the past year?
          %br
          Be honest! Doctors say that if you have a problem with alcohol and keep on drinking, it will get worse -- never better. Eventually, you will die, or end up in an institution for the rest of your life. The only hope is to stop drinking.
          %br
          %b Yes / No

        %br

        %li
          %b Has your drinking caused trouble at home?
          %br
          Before we came into A.A., most of us said that it was the people or problems at home that made us drink. We could not see that our drinking just made everything worse. It never solved problems anywhere or anytime.
          %br
          %b Yes / No

        %br

        %li
          %b Do you ever try to get "extra" drinks at a party because you do not get enough?
          %br
          Most of us used to have a "few" before we started out if we thought it was going to be that kind of party. And if drinks were not served fast enough, we would go some place else to get more.
          %br
          %b Yes / No

        %br

        %li
          %b Do you tell yourself you can stop drinking any time you want to, even though you keep getting drunk when you don't mean to?
          %br
          Many of us kidded ourselves into thinking that we drank because we wanted to. After we came into A.A., we found out that once we started to drink, we couldn't stop. Yes/ No
          %br
          %b Yes / No

        %br

        %li
          %b Have you missed days of work or school because of drinking?
          %br
          Many of us admit now that we "called in sick" lots of times when the truth was that we were hung-over or on a drunk. Yes /No
          %br
          %b Yes / No

        %br

        %li
          %b Do you have "blackouts"?
          %br
          A "blackout" is when we have been drinking hours or days which we cannot remember. When we came to A.A., we found out that this is a pretty sure sign of alcoholic drinking.
          %br
          %b Yes / No

        %br

        %li
          %b Have you ever felt that your life would be better if you did not drink?
          %br
          Many of us started to drink because drinking made life seem better, at least for a while. By the time we got into A.A., we felt trapped. We were drinking to live and living to drink. We were sick and tired of being sick and tired.
          %br
          %b Yes / No

      %br
      %b WHAT'S YOUR SCORE?
      %p
        Did you answer YES four or more times? If so, you are probably in trouble with alcohol. Why do we say this? Because thousands of people in A.A. have said so for many years. They found out the truth about themselves - the hard way.
      %p
        But again, only you can decide whether you think A.A. is for you. Try to keep an open mind on the subject.
        %b If the answer is YES, we will be glad to show you how we stopped drinking ourselves..
      %p
        A.A. does not promise to solve your life's problems. But we can show you how we are learning to live without drinking "one day at a time." We stay away from that "first drink." If there is no first one, there cannot be a tenth one. And when we got rid of alcohol, we found that life became much more manageable.
  = render :partial => 'shared/text_logo'


