.row-fluid
  .span8
    %h2 Message to Teenagers
    %h3 How to tell when drinking is becoming a problem ?

    %p
      Alcoholism is a rough word to deal with. Yet nobody is too young (or too old) to have trouble with booze. That's because alcoholism is an illness. It can hit anyone. Young, old. Rich, poor. Black, white. And it doesn't matter how long you've been drinking or what you've been drinking. It's what drinking does to you that counts.

    %p
      To help you decide whether you might have a problem with your own drinking, we've prepared these 12 questions. The answers are nobody's business but your own.
      If you can answer yes to any one of these questions, maybe it's time you took a serious look at what your drinking might be doing to you. And, if you do need help or if you'd just like to talk to someone about your drinking, call us.

    %p
      We're in the phone book under Alcoholics Anonymous.

    %ol
      %li Do you drink because you have problems? To relax?
      %li Do you drink when you get mad at other people, your friends or parents?
      %li Do you prefer to drink alone, rather than with others?
      %li Are your grades starting to slip? Are you goofing off on your job?
      %li Did you ever try to stop drinking or drink less - and fail?
      %li Have you begun to drink in the morning, before school or work?
      %li Do you gulp your drinks?
      %li Do you ever have loss of memory due to your drinking?
      %li Do you lie about your drinking?
      %li Do you ever get into trouble when you're drinking?
      %li Do you get drunk when you drink, even when you don't mean to?
      %li Do you think it's cool to be able to hold your liquor?

    %br
    %h4 Managing Editors, News Reporters and Photo Directors, Radio and Television Editors and Producers, Television Talk Show Hosts

    %ul
      %li Only by first name
      %li Using no recognizable picture.

    %p
      %b Anonymity
      is the spiritual foundation of our Fellowship and assures our members that their recovery will be private. Often, the active alcoholic will avoid any source of help which might reveal his or her identity.

    %p
      %b Alcoholics Anonymous
      is not affiliated to any other organization, although many have adapted A.A.'s Twelve Steps for their own use. A.A. is self-supporting, declining any outside contributions; and we are non-professional, offering only the voluntary support of one alcoholic helping another.

    %p
      Throughout the world, favourable media coverage has been a principal means of bringing alcoholics into our Fellowship. You have helped make this possible, and for that we thank you.
  = render :partial => 'shared/text_logo'