%ul
  %li
    =link_to_blank 'Malaysia', 'http://www.aamalaysia.org/'
  %li
    =link_to_blank 'U.A.E', 'http://www.aaarabia.org/'
  %li
    =link_to_blank 'Indonesia', 'http://www.aa-indonesia.org/'
  %li
    =link_to_blank 'Sri Lanka', 'http://www.aagsoindia.org/srilanka.htm'
    -# TODO: Sri Lanka is linked to existing website
  %li
    Vietnam
    %ul
      %li
        =link_to_blank 'Hanoi', 'http://www.aahanoi.com/'
      %li
        =link_to_blank 'Ho Chi Minh City', 'http://www.aahcmc.com/'
  %li
    China
    %ul
      %li
        =link_to_blank 'Beijing', 'http://www.aabeijing.com/'
      %li
        =link_to_blank 'Hong Kong', 'http://www.aa-hk.org/'
      %li
        =link_to_blank 'Kunming', 'http://www.aakunming.com/'
      %li
        =link_to_blank 'Shanghai', 'http://www.aashanghai.com/'
  %li
    =link_to_blank 'Europe', 'http://www.aa-europe.net/index.php'
  %li
    =link_to_blank 'US / Canada', 'http://www.aa.org/'
  %li
    =link_to_blank 'Nepal', 'http://www.aanepal.org/'
