.row-fluid
  .span8
    %p
      %h2 Public Relations Policy

      %p
        In all public relationships, A.A.'s sole objective is to help the still-suffering alcoholic. Always mindful of the importance of personal anonymity, we believe this can be done by making known to him, and to those who may be interested in his problem, our own experience as individuals and as a fellowship in learning to live without alcohol.

      %p
        We believe that our experience should be made available freely to all who express sincere interest. We believe further that all our efforts in this field should always reflect our gratitude for the gift of sobriety and our awareness that many outside A.A. are equally concerned with the serious problem of alcoholism.

      %p
        This statement reflects a long-standing A.A. tradition of not seeking publicity for promotional purposes, but of always being willing to cooperate with representatives of all media who seek information about the recovery program or about the structure of the Fellowship.

      %p
        In India, information and public relations matters affecting the Fellowship of A.A. as a whole are the concern of the General Service Board (India) & the Public Information Committee of Alcoholics Anonymous.

      %p
        Reporters are welcome at A.A. open meetings, dinners, regional get-togethers, or similar gatherings of recovered alcoholics. The only restriction is a request not to disclose the name of any A.A. member. (For obvious reasons, photographs cannot be taken at A.A. meetings.)
  = render :partial => 'shared/text_logo'