.row-fluid
  .span8
    %p
      %h2 Aamir Khan endorses A.A.

      %p
        Aamir Khan's endorsement of Alcoholics Anonymous in SATYAMEV JAYETE's 9th episode on Alcoholism raised
        rays of new hopes in suffering alcoholics and their families.

      %p
        Renowned psychiatrist Dr. Ashish Deshpande, on the show went on to explain Alcoholism a disease
        and not mere habit and can be tackled with the help of A.A. There by changing the perception of general public
        about Alcoholics

      %p
        Particularly frightening the fact that whereas earlier the average age of the alcoholic was around 35
        years and above, mainly consisting of males. In recent times it has been found that youngsters and
        women are affected in growing numbers. Therefore the educated and qualified youngsters are
        unable to function effectively in the very period in which their productivity should be at its peak.

      %p
        Dr. Vivek Benegal pointed out that 50% of drinkers exceed permissible limits; the largest number
        compared to any other country in the world. He informed that 60% casualties are reported due to
        drinking.

      %p
        Alcoholics Anonymous, popularly known as A.A. exists in 185 countries with guesstimated
        membership over 3 million.

      %p
        As such there is no requirement for membership except a desire to stop drinking, which, very few
        people have because of unique nature of illness.

      %p
        Aamir Khan generously offered entire proceeds from the show to A A. The organization, bound by its
        own tradition of Self-support, politely declined the money. Though AA help is free, A A members
        contribute voluntarily towards expenses of the fellowship declining outside contributions.

      %p
        The response to this telecast was tremendous , in the very first 45 seconds of displaying our helpline
        number we received a thousand calls, this escalated to a virtual flood with almost 12,000 calls in the
        next 15 minutes, and had reached 55,000 by 2nd July evening. So we can all begin to see the
        magnitude of the problem. And we feel that it is the responsibility of the entire society to understand
        the problem lend their support, particularly the pillars of the society like media persons, Industrialists,
        Social workers, in fact we cannot think of a single category which cannot help in this task

      %p
        For the first time in the documented history of AA since 1935 such massive inflow of calls has been
        documented, we have received  in a short time of four days over 80000 frantic calls for help from
        alky's & their family members And the flow is still continuing!

      %p
        Voluntary call centers manned by AA ,AL-Anon members and also the volunteers and students of
        MSW working round the clock in various locations such as Mumbai, Delhi, Kolkatta, Chenna,Pune,
        Nagpur, Bangalore and many small towns have been set up.

      %p
        Seeing this overwhelming response, AA members in thousands pulled together their resources and
        got in action with their families, extended helping hands to suffering alcoholics asking for help and
        their families.

      %p
        All this would not have been possible but for the support received from the electronic & print media,
        your coverage has kept the subject alive after the telecast of alcoholism episode on Satyamev Jayate
        on 1st july.

      %p
        Anticipating pleas, A.A. and Al-anon members were ready to pass on Regional contact  details on
        call received at our National Helpline number 09022771011 (Cloud telephony 90 lines), This helpline
        was specially created for handling these calls. SMS to AAAA on short code 56363 mail
        gsoindia@gmail.com, and  website www.aagsoindia.org. Temporary call centers were set up in
        Mumbai, Delhi, Pune, Kolkata, Nagpur, Chennai and other cities.

      %p
        Functioning as a parallel is the fellowship of Al Anon which work in a similar manner with those who
        do not drink but are emotionally involved with the alcoholic as the spouse, family member friend, etc.
        There is also the Fellowships of Al-ateen which helps the children of alcoholics, in their teens and
        Adult Children of Alcoholics which helps the grown up children. While these follow the same
        principles they are actually separate entities which function autonomously but do cooperate with AA
        whenever the occasion arises.

      %p
        Thanking all the cooperation we have received so far & looking forward to your future cooperation
        With ver 30000 alcoholics recovering in 1100 groups across India

      %p
        I remain Sincerely yours in AA service.

      %br
      %p
        Daler Singh
        %br
        Chairman Public Information
        %br
        AA India.

      %p
        National Help lines
        %ul
          %li SMS :- AAAA (space) your name & address, send it to 56363.
          %li Call:- 9022771011 (90 lines)
          %li Email:- gsoindia@gmail.com
          %li Web:- www.aagsoindia.org

  = render :partial => 'shared/text_logo'