@import "compass";

body {
  font: 13px/1.7em 'Open Sans';
}

.hero-unit {
  padding: 15px;

  img {
    float: left;
    display: inline;
  }
  h1, p {
    color: #e36b23;
  }
}

.logo_text {
  text-shadow: 4px 4px 17px rgba(150, 150, 150, 1);
}