!!!
%html
  = render 'shared/head'

  %body
    %header
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'shared/navigation'
    .container
      = render 'shared/messages'
      =yield
